.mb-view-od-search-view {
    position: absolute;
    top: 56px;
    left: 50px;
    z-index: 999;
    width: 400px;
    height: 240px;
    background: white;

    .tabs {
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        height: 30px;
        margin: 10px 20px;
        padding: 0;

        > li {
            position: relative;
            list-style: none;
            float: left;
            width: 33.333%;
            text-align: center;
            line-height: 27px;
            cursor: pointer;

            > i {
                margin-right: 5px;
            }
        }

        li:not(:last-child) {
            &::after {
                position: absolute;
                content: " ";
                height: 20px;
                width: 1px;
                right: 0;
                top: 3px;
                background: #e0e0e0;
            }
        }
    }

    > .line-search {
        height: 100px;
        width: 380px;
        margin: 10px;
        > .line-search-left {
            width: 15%;
            height: 90px;
            line-height: 90px;
            float: left;

            > i {
                color: #333;
                font-weight: normal;
                cursor: pointer;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }

        > .line-search-form {
            width: 85%;
            height: 90px;
            float: left;
        }
    }
}
