.mb-view-poi-search-view {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 999;
    width: 400px;
    height: 45px;
    box-shadow: 0px 0px 5px #333;

    .input-box {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 400px;
        background: white;

        .search-input {
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 15px;
            width: 300px;
            border:none;
            outline: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        .clear-btn {
            position: absolute;
            top: 15px;
            right: 35px;
            width: 20px;
            height: 20px;
            opacity: 1;
            cursor: pointer;
        }

        .search-btn {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
